/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v44-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v44-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Banny Round - Qalin (Bold) - 700 */
@font-face {
  font-display: swap; /* Shrift yuklanishini optimallashtirish uchun */
  font-family: 'Banny';
  font-style: normal;
  font-weight: 700; /* Qalin vazni */
  src: url('../fonts/Banny-BoldRound.otf') format('opentype'); 
  /* Foni .otf formatida bo'lgani uchun yo'lni va formatni shunga moslab qo'ydim. 
     Agar sizning yakuniy joylashuvingizda woff2 fayllar bo'lsa, uni woff2 ga o'zgartiring. */
}

/* Banny Round - Oddiy (Regular) - 400 */
@font-face {
  font-display: swap; /* Shrift yuklanishini optimallashtirish uchun */
  font-family: 'Banny';
  font-style: normal;
  font-weight: 400; /* Oddiy vazni */
  src: url('../fonts/Banny-Round.otf') format('opentype');
  /* Foni .otf formatida bo'lgani uchun yo'lni va formatni shunga moslab qo'ydim. 
     Agar sizning yakuniy joylashuvingizda woff2 fayllar bo'lsa, uni woff2 ga o'zgartiring. */
}