.intro {

  position: relative;
  display: flex;
  justify-content: center;
  gap: 0px;
  border-top: 1px solid rgba($color: #fff, $alpha: 0.1);
  &__left {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__left-text {
    width: 300px;
    left: -140px;
    position: absolute;
    padding: 0px 50px;
    padding: 0px;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 12px;
    line-height: 12px;
    /* or 100% */
    text-align: center;
    color: #FFFFFF;
    transform: rotate(-90deg)


  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__right-contain {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

  }

  &__right-item {
    padding: 11px 11.5px 8.5px 11.5px;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid rgba($color: #fff, $alpha: 0.1)
  }

  &__center {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 225px 100px 225px 180px;
  }

  &__center-contain {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__center-suptext {
    height: 18.39px;


    /* Caption */
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    /* or 117% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;

    color: #FFFFFF;
  }

  &__center-title { 
    height: 139px;
  

    /* Heading 1 */
    font-family: 'Banny';
    font-size: 96px;
    line-height: 0px;
    /* or 0% */
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;


  }

  &__center-box {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .buttons {
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: white;

    &:active {
      opacity: 0.7;
    }
  }

  &__button-left {
    background-color: #E8C300;
  }

  &__helm {
    position: relative;
    top: -295px;
  }

  &__center-contain {
    position: relative;
    top: -60px;
  }

  &__right-item1 {
    position: absolute;
    bottom: -170px;
    right: 421px;
    padding: 11px 11.5px 8.5px 11.5px;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid rgba($color: #fff, $alpha: 0.1)
  }


  hr {
    position: absolute;
    width: 876px;
    transform: rotate(90deg);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  &__hr-left {
    left: -270px;
  }
  &__hr-right {
    right: -370px;
  }
   &__hr-center {
    top: 500px;
    right: 178px;
  }




}