.master-chef-wrapper {
  background-image: url(../images/chefbg_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.master {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px 80px 100px;

  &__suptext {
    height: 100px;


    /* Caption */
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    /* or 117% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;

    color: #FFFFFF;
  }

  &__div {
    display: flex;
    align-items: center;
    gap: 72px;
  }
  &__left{
    position: relative;
    height: 475px;
    width: 475px;
    background-image: url(../images/chef.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__item {
    position: absolute;
    top: 113px;
    left: -92px;
    width: 250px;
    height: 250px;
    border: 20px solid #E8C300;
    border-radius: 5px;
    background-color: transparent;
  }
}